/* fuente para la firma del copy */
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
/*font-family: 'Passions Conflict', cursive;*/
/* fuente para el titulo */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/*font-family: 'Yellowtail', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*font-family: 'Oswald', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
b{
    font-size: 2rem;
}
body{
    background-color: green;
    min-height: 100vh;
    
}
main{
    padding-top: 3.4%;
}


/* .main-sec__carousel{
    height: 95vh;
} */
.carouselitem__carru--img{
max-height: 95vh;
}
footer{
    background-color: orangered;
    min-height: 30vh;
}

span#titulo-nav-index {
    font-family: 'Oswald', sans-serif;
    color: rgb(250, 163, 7);
}

.div__derecha{

background: rgb(134,161,177);
background: linear-gradient(90deg, rgba(134,161,177,1) 0%, rgba(10,161,226,1) 35%, rgba(224,90,10,1) 100%);

}

.img__div--derecha{
    max-height: auto;
}

.nav__color{
    background-color: #0F1319 !important;
}



.img__profile{
    max-height: 50vh;
    max-width: 50vw;
}

/* gradiente para fondos background: rgb(134,161,177);
background: linear-gradient(90deg, rgba(134,161,177,1) 0%, rgba(10,161,226,1) 35%, rgba(224,90,10,1) 100%);*/